# Environnement virtuel
.venv/
venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de base de données
*.db
*.sqlite
*.sqlite3

# Fichiers locaux
instance/
.env

# Logs
*.log

# Fichiers VS Code
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
.Python
*.tmp

# Dossiers IDE
.idea/
*.swp
*.swo